index-*.html
src/main/resources/tessdata
LOG_*
OUTPUT_*

*.class
*.log
*.swp
project/target
.idea*
*.DS_Store

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
